<footer>
    <div id="footer-card-container">
        <div>
            <h2>Políticas</h2>
            <a href="/politicas-privacidade">Termos e condições</a>
        </div>

        <div>
            <h2>Fale conosco</h2>
            <a href="/fale-conosco">Tire as suas dúvidas</a>
        </div>

        <div>
            <h2>A Finyou</h2>
            <a href="#">Conheça o nosso trabalho</a>
        </div>
    </div>

    <div id="footer-social-media">
        <a href="https://www.instagram.com/finyoubrasil/" target="_blank">
            <img src="/assets/icons/instagram.png" alt="Instagram Finyou">
        </a>

        <a href="#" target="_blank">
            <img src="/assets/icons/facebook.png" alt="Facebook Finyou">
        </a>
    </div>

    <div id="footer-language">
        <img src="/assets/icons/world.png" alt="Planeta terra">

        <span>Português (Brasil)</span>
    </div>
</footer>