<footer>
    <div id="footer-social-media">
        <a href="https://www.instagram.com/finyoubrasil/" target="_blank">
            <img src="/assets/icons/instagram.png" alt="Instagram Finyou">
        </a>

        <a href="#" target="_blank">
            <img src="/assets/icons/facebook.png" alt="Facebook Finyou">
        </a>
    </div>

    <div id="footer-language">
        <img src="/assets/icons/world.png" alt="Planeta terra">

        <span>Português (Brasil)</span>
    </div>
</footer>