<header>
    <nav>
        <a href="#" id="logo">
            <img src="assets/icons/logo.png" alt="Logo Finyou">
        </a>

        <div id="menu-hamburguer" data-menu-hamburguer>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div id="menu" data-menu>
            <a href="#">Cadastro</a>
            <a href="#">Entrar</a>
            <a href="#">Sobre a Finyou</a>
            <a href="#">Finyou+</a>
        </div>
    </nav>
</header>