<header>
    <nav>
        <a href="/" id="logo">
            <img src="assets/icons/logo.png" alt="Logo Finyou">
        </a>

        <div id="menu-hamburguer" data-menu-hamburguer>
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div id="menu" data-menu>
            <a href="/cadastro">Cadastro</a>
            <a href="/login">Entrar</a>
            <a href="/sobre">Sobre a Finyou</a>
            <a href="/pacotes">Finyou+</a>
        </div>
    </nav>
</header>