<header>
    <nav>
        <a href="/perfil-admin" id="logo">
            <img src="/assets/icons/logo.png" alt="Logo">
        </a>

        <div id="usuario">
            <span>Anna</span>
        </div>

        <a href="/logout">Sair</a>
    </nav>
</header>