<header>
    <nav>
        <a href="/perfil-admin" id="logo">
            <img src="/assets/icons/logo.png" alt="Logo">
        </a>

        <div id="usuario">
            <span><%- data.user.nome %></span>
            <a href="/editar-admin">
                <img src="/assets/icons/edit.png" alt="edit-perfil" class="editar-perfil">
            </a>
        </div>

        <a href="/logout">Sair</a>
    </nav>
</header>