/* ! PRIMEIRA SEÇÃO */

#sobre-intro {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 40px;
    padding: 40px clamp(30px, 9vw, 50px) 0;
}

#sobre-intro h1 {
    grid-column: 2;
    align-self: flex-end;
    margin-bottom: 24px;
    color: var(--text-dark-color);
    font-size: clamp(1.7rem, 5vw, 2.2rem);
}

#sobre-intro picture {
    grid-row: 1/3;
    max-width: 400px;
    aspect-ratio: 32/25;
}

#sobre-intro p {
    grid-column: 2;
    align-self: flex-start;
}

@media (max-width: 769px) {
    #sobre-intro {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    #sobre-intro h1 {
        grid-column: unset;
        text-align: center;
    }

    #sobre-intro picture {
        grid-row: unset;
        margin-bottom: 24px;
    }

    #sobre-intro p {
        grid-column: unset;
        max-width: 400px;
    }
}

/* ! SEGUNDA SEÇÃO */

#main-topics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 40px clamp(30px, 9vw, 50px);
    background: var(--main-gradient);
    color: white;
}

#main-topics img {
    margin-bottom: 24px;
}

@media (max-width: 769px) {
    #main-topics {
        grid-template-columns: 1fr;
    }
}

/* ! TERCEIRA SEÇÃO */

#metas-finyou h2 {
    color: var(--text-dark-color);
    font-size: clamp(1.7rem, 5vw, 2.2rem);
    text-align: center;
}

#metas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 120px;
    max-width: fit-content;
    margin-inline: auto;
    padding: 40px clamp(30px, 9vw, 50px) 0;
}

#metas div {
    max-width: 320px;
}

#metas div img {
    width: 100%;
    height: 250px;
    margin-bottom: 24px;
}

#metas div h3 {
    color: var(--text-dark-color);
    font-size: clamp(1.5rem, 4vw, 1.7rem);
    margin-bottom: 24px;
}

@media (max-width: 769px) {
    #metas {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

/* ! QUARTA SEÇÃO */

#secondary-topics {
    display: flex;
    justify-content: center;
    background-color: var(--background-darker-color);
    padding: 40px clamp(30px, 9vw, 50px);
}

#secondary-topics ul li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-size: clamp(1.2rem, 2vw, 1.4rem);
}

#secondary-topics ul li img {
    margin-right: 15px;
}

/* ! QUINTA SEÇÃO */

#cta-sobre {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 40px clamp(30px, 9vw, 50px);
}

#cta-sobre picture {
    max-width: 400px;
}

#cta-sobre div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cta-sobre div p {
    margin-bottom: 24px;
    color: var(--text-dark-color);
    font-size: clamp(1.5rem, 4vw, 1.9rem);
}

#cta-sobre div a {
    display: block;
    width: 100%;
    max-width: 300px;
    padding: clamp(10px, 2vw, 15px) 0;
    border-radius: 10px;
    background-color: var(--contrast-color);
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

@media (max-width: 769px) {
    #cta-sobre {
        flex-direction: column;
        align-items: center;
    }

    #cta-sobre div a {
        margin-inline: auto;
    }
}