<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../templates/head.ejs') %>
    <meta name="description" content="Recusro para o usuário efetuar pagamentos, tendo disponível todas as formas de pagamento dentro do site. ">
    <meta name="keywords" content="finanças, gestão financeira, ferramentas financeiras, auxílio.">
    <title>Cartão</title>
</head>
<body>
    <%- include('../templates/header.ejs') %>

    <%- include('../templates/footer.ejs') %>
</body>
</html>