<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../templates/head.ejs') %>
    <meta name="description" content="Recusro para o usuário se desejar, comprar pacotes de mensalidades ou anuais, oferecendo diferenciais para os clientes.">
    <meta name="keywords" content="finanças, gestão financeira, ferramentas financeiras, auxílio.">
    <title>Comprar pacotes</title>
</head>
<body>
    <%- include('../templates/header.ejs') %>

    <%- include('../templates/footer.ejs') %>
</body>
</html>