<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" O usuário vai poder criar tags com nomes para que assim sempre que concluir algo ou se quiser lembrar-se, é soó criar a tag.">
    <meta name="keywords" content="finanças, gestão financeira, ferramentas financeiras, auxílio.">
    <%- include('../templates/head.ejs') %>

    <!-- CSS -->

    <title><%- data.page_name %></title>
</head>
<body>
    <%- include('../templates/header-perfil.ejs') %>

    <%- include('../templates/footer.ejs') %>
</body>
</html>