<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="finanças, gestão financeira, ferramentas financeiras, auxílio.">
    <%- include('../templates/head.ejs') %>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/info-pages/fale-conosco.css">

    <!-- JS -->
    <script src="/js/info-pages/fale-conosco.js" defer></script>

    <title><%- data.page_name %></title>
</head>
<body>
    <%- include('../templates/header.ejs') %>

    <main>
        <section id="fale-conosco-intro">
            <h1>Fale Conosco</h1>

            <form action="#" method="post" id="fale-conosco-form">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" placeholder="E-mail">

                <label for="duvidas">Dúvidas</label>
                <textarea name="duvidas" id="duvidas" rows="12" maxlength="500" data-duvidas-input>

                </textarea>

                <div id="limite-caracteres" data-character-limit>
                    <span data-actual-character-number>0</span> de 500 caracteres
                </div>

                <button type="submit">Enviar</button>
            </form>
        </section>
    </main>

    <%- include('../templates/footer.ejs') %>
</body>
</html>