<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site com a funçaõ de controle financeiro para os usuários, com a facilidade de gerir suas finanças.">
    <meta name="keywords" content="finanças, gestão financeira, ferramentas financeiras, auxílio.">
    <%- include('../templates/head.ejs') %>
    <!-- STYLES -->

    <link rel="stylesheet" href="css/home.css">

    <title>Finyou</title>
</head>
<body>
    <%- include('../templates/header.ejs') %>

    <main>
        <section id="banner-section">
            <picture id="banner">
                <source srcset="assets/banners/webp/fundo-header.webp" type="image/webp">
                <img src="assets/banners/fundo-header.jpg" alt="Gráficos subindo" width="1080" height="1080">
            </picture>

            <picture id="main-banner-image">
                <source srcset="assets/images/webp/conversando-cartao.webp" type="image/webp">
                <img src="assets/images/conversando-cartao.png" alt="Conversando sobre dinheiro e cartões" width="493" height="384">
            </picture>

            <div id="cta-banner">
                <h1>Finanças para você</h1>
                <p>Finanças de um jeito simples</p>

                <a href="#">Participe</a>
            </div>
        </section>

        <section id="main-topics">
            <div>
                <img src="assets/icons/cloud.png" alt="Desempenho nas nuvens" width="125" height="125">
                <h2>Desempenho</h2>
                <p>Visualize a sua vida financeira em poucos segundos</p>
            </div>

            <div>
                <img src="assets/icons/money.png" alt="Mais dinheiro" width="125" height="125">
                <h2>Investimento</h2>
                <p>Invista no que combina com você</p>
            </div>

            <div>
                <img src="assets/icons/person.png" alt="Disponível para todos" width="125" height="125">
                <h2>Acessibilidade</h2>
                <p>Tudo para ser o mais simples para você</p>
            </div>
        </section>

        <section id="cta-finyou">
            <div>
                <img src="assets/icons/chart-up.png" alt="Gráfico de barras subindo" width="60" height="60">
                <h2>O que é Finyou?</h2>
                <p>Uma aplicação Web para te ajudar a ter um maior controle sobre as suas finanças.</p>

                <a href="#">Saiba mais</a>
            </div>

            <div>
                <img src="assets/icons/basket.png" alt="Cesta de compras" width="60" height="60">
                <h2>Conheça o pacote Finyou+</h2>
                <p>Assine a Finyou+ e organize as suas finanças do seu próprio jeito.</p>
                <a href="#">Conhecer pacotes</a>
            </div>
        </section>

        <section id="benefits-finyou">
            <div id="benefits-intro">
                <h2>O que a Finyou te fornecerá?</h2>

                <picture>
                    <source srcset="assets/images/webp/guardando-dinheiro-cofre.webp" type="image/webp">
                    <img src="assets/images/guardando-dinheiro-cofre.jpg" alt="Mulher poupando dinheiro" width="400" height="286">
                </picture>

                <p>Uma visão geral e simplificada da sua vida financeira, para que você possa decidir o que fazer.</p>
            </div>

            <div id="benefits">
                <div>
                    <picture>
                        <source srcset="assets/images/webp/calculando-gastos.webp" type="image/webp">
                        <img src="assets/images/calculando-gastos.jpg" alt="Calculando gastos com um amigo" width="400" height="317">
                    </picture>

                    <h3>Conta conjunta</h3>

                    <p>Crie uma conta com mais de uma pessoa para que consigam atingir suas metas juntos.</p>
                </div>

                <div>
                    <picture>
                        <source srcset="assets/images/webp/conversando-financas.webp" type="image/webp">
                        <img src="assets/images/conversando-financas.jpg" alt="Amigas estudando finanças juntas" width="400" height="411">
                    </picture>

                    <h3>Relatório mensal</h3>

                    <p>Tenha todo mês um relatório geral, e veja para onde vai o seu dinheiro.</p>
                </div>

                <div>
                    <picture>
                        <source srcset="assets/images/webp/conversando-grafico.webp" type="image/webp">
                        <img src="assets/images/conversando-grafico.jpg" alt="Conversando sobre gráficos financeiros" width="400" height="273">
                    </picture>

                    <h3>Informações gráficas</h3>

                    <p>Informações rápidas e fáceis para você não perder tempo e o foco financeiro.</p>
                </div>

                <div>
                    <picture>
                        <source srcset="assets/images/webp/cofre-porco.webp" type="image/webp">
                        <img src="assets/images/cofre-porco.jpg" alt="Mulher orgulhosa com seu cofre de porquinho cheio" width="400" height="306">
                    </picture>

                    <h3>Metas</h3>

                    <p>Tenha objetivos definidos para te ajudar a focar.</p>
                </div>

                <div>
                    <picture>
                        <source srcset="assets/images/webp/pagando-contas.webp" type="image/webp">
                        <img src="assets/images/pagando-contas.jpg" alt="Mulher pagando suas contas" width="400" height="353">
                    </picture>

                    <h3>Categorizar finanças</h3>

                    <p>Categorize as suas contas para ser mais fácil economizar.</p>
                </div>

                <div>
                    <picture>
                        <source srcset="assets/images/webp/transacao-completa.webp" type="image/webp">
                        <img src="assets/images/transacao-completa.jpg" alt="Mulher pagando suas contas" width="400" height="365">
                    </picture>

                    <h3>Finanças estruturadas</h3>

                    <p>Extratos completos conforme os gastos efetuados.</p>
                </div>
            </div>
        </section>
    </main>

    <%- include('../templates/footer.ejs') %>
</body>
</html>