<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="No perfil, o usuário vai poder navegar e encontrar todos os recursos disponíveis.">
    <meta name="keywords" content="finanças, gestão financeira, ferramentas financeiras, auxílio.">
    <%- include('../templates/head.ejs') %>

    <!-- CSS -->

    <title><%- data.page_name %></title>
</head>
<body>
    <%- include('../templates/header-perfil.ejs') %>

    <main>
        <section id="perfil-banner">
            <h1>Perfil</h1>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga pariatur, rem et eum harum assumenda esse, eius voluptates autem obcaecati sunt explicabo nobis distinctio alias facere sequi. Nisi, laborum incidunt?</p>
        </section>
    </main>

    <%- include('../templates/footer.ejs') %>
</body>
</html>