<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="No perfil, o usuário vai poder navegar e encontrar todos os recursos disponíveis.">
    <meta name="keywords" content="finanças, gestão financeira, ferramentas financeiras, auxílio.">
    <%- include('../templates/head.ejs') %>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/perfil/perfil.css">

    <title><%- data.page_name %></title>
</head>
<body>
    <%- include('../templates/header-perfil.ejs') %>

    <main>
        <section id="perfil-banner">
            <h1>Perfil</h1>

            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, facere commodi aut provident numquam magnam assumenda. Quo adipisci quidem aut minus ipsa, veniam earum in eius cumque. Laboriosam, nobis quia atque impedit cupiditate voluptatem? Tenetur tempora quo quas veniam alias rem laborum at necessitatibus vero, nesciunt inventore dolorum cupiditate, omnis unde iste repellat temporibus harum quidem assumenda a quis quae quasi quam ea! Iusto architecto amet quam deleniti placeat! Sint reprehenderit repellendus eaque amet inventore rerum veniam hic eligendi laboriosam nemo necessitatibus dolorum eveniet, aliquam quidem repudiandae autem earum, aliquid asperiores non! Est iste delectus dolore consequatur dolores. Amet, consequuntur!</p>
        </section>
    </main>

    <%- include('../templates/footer.ejs') %>
</body>
</html>