<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Recusro para o usuário se cadastrar no site, assim que o usuário entrar, o site vai fornecer as ferramentas para sua disposição.">
    <meta name="keywords" content="finanças, gestão financeira, ferramentas financeiras, auxílio.">
    <%- include('../templates/head.ejs') %>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/info-pages/politica.css">
    <title><%- data.page_name %></title>
</head>

<body>
    <%- include('../templates/header-perfil.ejs') %>

    <main>
        <section>
            <h1>Termos e condições</h1>

            <p>
                Os serviços do site são fornecidos pela pessoa física com a seguinte Razão Social/nome: Finyou, com o nome fantasia Finyou, inscrito no CNPJ/CPF sob o nº472.263.478-57, titular da propriedade intelectual sobre software, website, aplicativos, conteúdos e demais ativos relacionados à plataforma Finyou.
            </p>

            <h3>1. Do objeto</h3>
            <p>A plataforma visa licenciar o uso de seu software, website, aplicativos e demais ativos de propriedade intelectual, fornecendo ferramentas para auxiliar e dinamizar o dia a dia dos seus usuários. <br>
                A plataforma caracteriza-se pela prestação do seguinte serviço: A plataforma disponibiliza ferramentas para a organização de finanças do usuário, com cadastros de metas e tags, relatórios, gráficos e integração com a conta do banco. <br>
                A plataforma realiza a venda à distância por meio eletrônico do seguinte serviço: Realizamos a venda do plano de assinatura Finyou+.
            </p>

            <h3>2. Da aceitação</h3>
            <p>
                O presente Termo estabelece obrigações contratadas de livre e espontânea vontade, por tempo indeterminado, entre a plataforma e as pessoas físicas ou jurídicas, usuárias do site. <br>

                Ao utilizar a plataforma o usuário aceita integralmente as presentes normas e compromete-se a observá-las, sob o risco de aplicação das penalidades cabíveis. <br>

                A aceitação do presente instrumento é imprescindível para o acesso e para a utilização de quaisquer serviços fornecidos pela empresa. Caso não concorde com as disposições deste instrumento, o usuário não deve utilizá-los.
            </p>

            <h3>3. Do acesso dos usuários</h3>
            <p>Serão utilizadas todas as soluções técnicas à disposição do responsável pela plataforma para permitir o acesso ao serviço 24 (vinte e quatro) horas por dia, 7 (sete) dias por semana. No entanto, a navegação na plataforma ou em alguma de suas páginas poderá ser interrompida, limitada ou suspensa para atualizações, modificações ou qualquer ação necessária ao seu bom funcionamento.</p>

            <h3>4. Do cadastro</h3>
            <p>O acesso às funcionalidades da plataforma exigirá a realização de um cadastro prévio e, a depender dos serviços ou produtos escolhidos, o pagamento de determinado valor. <br>
                Ao se cadastrar o usuário deverá informar dados completos, recentes e válidos, sendo de sua exclusiva responsabilidade manter referidos dados atualizados, bem como o usuário se compromete com a veracidade dos dados fornecidos. <br>
                O usuário se compromete a não informar seus dados cadastrais e/ou de acesso à plataforma a terceiros, responsabilizando-se integralmente pelo uso que deles seja feito. <br>
                Menores de 18 anos e aqueles que não possuírem plena capacidade civil deverão obter previamente o consentimento expresso de seus responsáveis legais para utilização da plataforma e dos serviços ou produtos, sendo de responsabilidade exclusiva dos mesmos o eventual acesso por menores de idade e por aqueles que não possuem plena capacidade civil sem a prévia autorização. <br>
                Mediante a realização do cadastro o usuário declara e garante expressamente ser plenamente capaz, podendo exercer e usufruir livremente dos serviços e produtos. <br>
                O usuário deverá fornecer um endereço de e-mail válido, através do qual o site realizará todas as comunicações necessárias.
                Após a confirmação do cadastro, o usuário possuirá um login e uma senha pessoal, a qual assegura ao usuário o acesso individual à mesma. Desta forma, compete ao usuário exclusivamente a manutenção de referida senha de maneira confidencial e segura, evitando o acesso indevido às informações pessoais. <br>
                Toda e qualquer atividade realizada com o uso da senha será de responsabilidade do usuário, que deverá informar prontamente a plataforma em caso de uso indevido da respectiva senha. <br>
                Não será permitido ceder, vender, alugar ou transferir, de qualquer forma, a conta, que é pessoal e intransferível. <br>
                Caberá ao usuário assegurar que o seu equipamento seja compatível com as características técnicas que viabilize a utilização da plataforma e dos serviços ou produtos. <br>
                O usuário poderá, a qualquer tempo, requerer o cancelamento de seu cadastro junto ao site Finyou. O seu descadastramento será realizado o mais rapidamente possível, desde que não sejam verificados débitos em aberto. <br>
                O usuário, ao aceitar os Termos e Política de Privacidade, autoriza expressamente a plataforma a coletar, usar, armazenar, tratar, ceder ou utilizar as informações derivadas do uso dos serviços, do site e quaisquer plataformas, incluindo todas as informações preenchidas pelo usuário no momento em que realizar ou atualizar seu cadastro, além de outras expressamente descritas na Política de Privacidade que deverá ser autorizada pelo usuário.
            </p>

            <h3>5. Dos serviços ou produtos</h3>
            <p>A plataforma poderá disponibilizar para o usuário um conjunto específico de funcionalidades e ferramentas para otimizar o uso do serviço. <br>
                Na plataforma o serviço oferecido estão descritos e apresentados com o maior grau de exatidão, contendo informações sobre suas características, qualidades, quantidades, composição, preço, garantia, prazos de validade e origem, entre outros dados, bem como sobre os riscos que apresentam à saúde e segurança do usuário. <br>
                Antes de finalizar a compra sobre determinado serviço, o usuário deverá se informar sobre as suas especificações e sobre a sua destinação.
                A entrega de serviço adquiridos na plataforma será informada no momento da finalização da compra.
            </p>

            <h3>6. Dos preços</h3>
            <p>A plataforma se reserva no direito de reajustar unilateralmente, a qualquer tempo, os valores do serviço sem consulta ou anuência prévia do usuário.
                Os valores aplicados são aqueles que estão em vigor no momento do pedido.
                Os preços são indicados em reais, as quais são especificadas à parte e são informadas ao usuário antes da finalização do pedido. <br>
                Na contratação de determinado serviço, a plataforma poderá solicitar as informações financeiras do usuário, como CPF, endereço de cobrança e dados de cartões. Ao inserir referidos dados o usuário concorda que sejam cobrados, de acordo com a forma de pagamento que venha a ser escolhida, os preços então vigentes e informados quando da contratação. Referidos dados financeiros poderão ser armazenados para facilitar acessos e contratações futuras. <br>
                A contratação dos serviços será renovada automaticamente pela plataforma, independentemente de comunicação ao usuário, mediante cobrança periódica da mesma forma de pagamento indicada pelo usuário quando da contratação do serviço.
            </p>

            <h3>7. Do cancelamento</h3>
            <p>O usuário poderá cancelar a contratação dos serviços de acordo com os termos que forem definidos no momento de sua contratação. Ainda, o usuário também poderá cancelar os serviços em até 7 (sete) dias após a contratação, mediante contato com o site, de acordo com o <a href="https://www.jusbrasil.com.br/legislacao/91585/código-de-defesa-do-consumidor-lei-8078-90">https://www.jusbrasil.com.br/legislacao/91585/código-de-defesa-do-consumidor-lei-8078-90 </a> de Defesa do Consumidor (Lei no. 8.078/90).
                O serviço poderá ser cancelado por: <br>
                a) parte do usuário: nessas condições os serviços somente cessarão quando concluído o ciclo vigente ao tempo do cancelamento; <br>
                b) violação dos Termos de Uso: os serviços serão cessados imediatamente. <br>
                (Se há cláusula de troca e devolução)
            </p>

            <h3>8. Da troca e devolução</h3>
            <p>A política de troca e devoluções da plataforma é regida conforme o <a href="https://www.jusbrasil.com.br/legislacao/91585/código-de-defesa-do-consumidor-lei-8078-90">https://www.jusbrasil.com.br/legislacao/91585/código-de-defesa-do-consumidor-lei-8078-90</a></p>

            <h3>9. Do suporte</h3>
            <p>Em caso de qualquer dúvida, sugestão ou problema com a utilização da plataforma, o usuário poderá entrar em contato com o suporte, através do email tcc.finyou@gmail.com. <br>
                Estes serviços de atendimento ao usuário estarão disponíveis nos seguintes dias e horários: segunda-feira, quarta-feira e sexta-feira.
            </p>

            <h3>10. Das responsabilidades</h3>
            <p>É de responsabilidade do usuário: <br>
                a) defeitos ou vícios técnicos originados no próprio sistema do usuário; <br>
                b) a correta utilização da plataforma, dos serviços ou produtos oferecidos, prezando pela boa convivência, pelo respeito e cordialidade entre os usuários; <br>
                c) pelo cumprimento e respeito ao conjunto de regras disposto nesse Termo de Condições Geral de Uso, na respectiva Política de Privacidade e na legislação nacional e internacional; <br>
                d) pela proteção aos dados de acesso à sua conta/perfil (login e senha). <br>


                É de responsabilidade da plataforma Finyou: <br>
                a) indicar as características do serviço ou produto; <br>
                b) os defeitos e vícios encontrados no serviço ou produto oferecido desde que lhe tenha dado causa; <br>
                c) as informações que foram por ele divulgadas, sendo que os comentários ou informações divulgadas por usuários são de inteira responsabilidade dos próprios usuários; <br>
                d) os conteúdos ou atividades ilícitas praticadas através da sua plataforma. <br>

                A plataforma não se responsabiliza por links externos contidos em seu sistema que possam redirecionar o usuário à ambiente externo a sua rede.
                Não poderão ser incluídos links externos ou páginas que sirvam para fins comerciais ou publicitários ou quaisquer informações ilícitas, violentas, polêmicas, pornográficas, xenofóbicas, discriminatórias ou ofensivas.
            </p>

            <h3>11. Dos direitos autorais</h3>
            <p><a href="https://www.jusbrasil.com.br/legislacao/92175/lei-de-direitos-autorais-lei-9610-98">https://www.jusbrasil.com.br/legislacao/92175/lei-de-direitos-autorais-lei-9610-98</a>O presente Termo de Uso concede aos usuários uma licença não exclusiva, não transferível e não sublicenciável, para acessar e fazer uso da plataforma e dos serviços e produtos por ela disponibilizados. <br>
                A estrutura do site ou aplicativo, as marcas, logotipos, nomes comerciais, layouts, gráficos e design de interface, imagens, ilustrações, fotografias, apresentações, vídeos, conteúdos escritos e de som e áudio, programas de computador, banco de dados, arquivos de transmissão e quaisquer outras informações e direitos de propriedade intelectual da razão social Finyou, observados os termos da <a href="https://www.jusbrasil.com.br/legislacao/91774/código-de-propriedade-industrial-lei-9279-96">https://www.jusbrasil.com.br/legislacao/91774/código-de-propriedade-industrial-lei-9279-96</a> Lei da Propriedade Industrial (Lei nº 9.279/96), <a href="https://www.jusbrasil.com.br/legislacao/92175/lei-de-direitos-autorais-lei-9610-98"></a>https://www.jusbrasil.com.br/legislacao/92175/lei-de-direitos-autorais-lei-9610-98 Lei de Direitos Autorais (Lei nº 9.610/98) e <a href="https://www.jusbrasil.com.br/legislacao/109879/lei-do-software-lei-9609-98">https://www.jusbrasil.com.br/legislacao/109879/lei-do-software-lei-9609-98</a> Lei do Software (Lei nº 9.609/98), estão devidamente reservados. <br>
                Este Termos de Uso não cede ou transfere ao usuário qualquer direito, de modo que o acesso não gera qualquer direito de propriedade intelectual ao usuário, exceto pela licença limitada ora concedida. <br>
                O uso da plataforma pelo usuário é pessoal, individual e intransferível, sendo vedado qualquer uso não autorizado, comercial ou não-comercial. Tais usos consistirão em violação dos direitos de propriedade intelectual da razão social Finyou, puníveis nos termos da legislação aplicável. </p>

            <h3>12. Das sanções</h3>
            <p>Sem prejuízo das demais medidas legais cabíveis, a razão social Finyou poderá, a qualquer momento, advertir, suspender ou cancelar a conta do usuário: <br>
                a) que violar qualquer dispositivo do presente Termo; <br>
                b) que descumprir os seus deveres de usuário; <br>
                c) que tiver qualquer comportamento fraudulento, doloso ou que ofenda a terceiros.
            </p>

            <h3>13. Da rescisão</h3>
            <p>A não observância das obrigações pactuadas neste Termo de Uso ou da legislação aplicável poderá, sem prévio aviso, ensejar a imediata rescisão unilateral por parte da razão social Finyou e o bloqueio de todos os serviços prestados ao usuário.</p>

            <h3>14. Das alterações</h3>
            <p>Os itens descritos no presente instrumento poderão sofrer alterações, unilateralmente e a qualquer tempo, por parte de Finyou, para adequar ou modificar os serviços, bem como para atender novas exigências legais. As alterações serão veiculadas pelo site Finyou e o usuário poderá optar por aceitar o novo conteúdo ou por cancelar o uso dos serviços, caso seja assinante de algum serviço. <br>
                Os serviços oferecidos podem, a qualquer tempo e unilateralmente, e sem qualquer aviso prévio, ser deixados de fornecer, alterados em suas características, bem como restringido para o uso ou acesso.
            </p>

            <h3>15. Da política de privacidade</h3>
            <p>Além do presente Termo, o usuário deverá consentir com as disposições contidas na respectiva Política de Privacidade a ser apresentada a todos os interessados dentro da interface da plataforma. </p>

            <h3>16. Do foro</h3>
            <p>Para a solução de controvérsias decorrentes do presente instrumento será aplicado integralmente o Direito brasileiro. <br>
                Os eventuais litígios deverão ser apresentados no foro da comarca em que se encontra a sede da empresa.
            </p>

            <h2>Política Privacidade</h2>
            <p>A sua privacidade é importante para nós. É política do Finyou respeitar a sua privacidade em relação a qualquer informação sua que possamos coletar no site Finyou, e outros sites que possuímos e operamos. Solicitamos informações pessoais apenas quando realmente precisamos delas para lhe fornecer um serviço. Fazemo-lo por meios justos e legais, com o seu conhecimento e consentimento. Também informamos por que estamos coletando e como será usado. Apenas retemos as informações coletadas pelo tempo necessário para fornecer o serviço solicitado. Quando armazenamos dados, protegemos dentro de meios comercialmente aceitáveis para evitar perdas e roubos, bem como acesso, divulgação, cópia, uso ou modificação não autorizados. Não compartilhamos informações de identificação pessoal publicamente ou com terceiros, exceto quando exigido por lei. <br>
                O nosso site pode ter links para sites externos que não são operados por nós. Esteja ciente de que não temos controle sobre o conteúdo e práticas desses sites e não podemos aceitar responsabilidade por suas respectivas políticas de privacidade. <br>
                Você é livre para recusar a nossa solicitação de informações pessoais, entendendo que talvez não possamos fornecer alguns dos serviços desejados.
                O uso continuado de nosso site será considerado como aceitação de nossas práticas em torno de privacidade e informações pessoais. Se você tiver alguma dúvida sobre como lidamos com dados do usuário e informações pessoais, entre em contacto conosco. <br>
            </p>

            <h3>Compromisso do Usuário</h3>
            <p>O usuário se compromete a fazer uso adequado dos conteúdos e da informação que o Finyou oferece no site e com caráter enunciativo, mas não limitativo: <br>
                A) Não se envolver em atividades que sejam ilegais ou contrárias à boa fé a à ordem pública; <br>
                B) Não difundir propaganda ou conteúdo de natureza racista, xenofóbica, jogos de sorte ou azar, qualquer tipo de pornografia ilegal, de apologia ao terrorismo ou contra os direitos humanos; <br>
                C) Não causar danos aos sistemas físicos (hardwares) e lógicos (softwares) do Finyou, de seus fornecedores ou terceiros, para introduzir ou disseminar vírus informáticos ou quaisquer outros sistemas de hardware ou software que sejam capazes de causar danos anteriormente mencionados.
            </p>

            <h3>Mais Informações</h3>
            <p>Esperemos que esteja esclarecido e, como mencionado anteriormente, se houver algo que você não tem certeza se precisa ou não, geralmente é mais seguro deixar os cookies ativados, caso interaja com um dos recursos que você usa em nosso site. <br>
                Esta política é efetiva a partir de 10 outubro 2023 11:13
            </p>

        </section>
    </main>

    <%- include('../templates/footer.ejs') %>
</body>

</html>