<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../templates/head.ejs') %>
    <meta name="description" content="O site vai entregar um relatório de tudo o que o usuário efetuou para assim ter um controle melhor.">
    <meta name="keywords" content="finanças, gestão financeira, ferramentas financeiras, auxílio.">
    <title>Relatório mensal</title>
</head>
<body>
    <%- include('../templates/header.ejs') %>

    <%- include('../templates/footer.ejs') %>
</body>
</html>