<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A FinYou é um site de auxílio financeiro, podendo ajudar no controle e observação das finanças pessoais.">
    <meta name="keywords" content="finanças, gestão financeira, ferramentas financeiras, auxílio.">
    <%- include('../templates/head.ejs') %>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/info-pages/sobre.css">

    <title><%- data.page_name %></title>
</head>
<body>
    <%- include('../templates/header.ejs') %>

    <main>
        <section id="sobre-intro">
            <h1>Finyou: O que é?</h1>

            <picture>
                <source srcset="assets/images/webp/pagando-contas-white.webp" type="image/webp">
                <img src="/assets/images/pagando-contas-white.jpg" alt="Mulher pagando suas contas" width="400" height="353">
            </picture>

            <p>Somos uma aplicação web que quer melhorar a forma como o povo brasileiro trata suas finanças. Simplificando e agilizando a organização, você pode passar mais tempo pensando em como lidar com a situação.</p>
        </section>

        <section id="main-topics">
            <div>
                <img src="/assets/icons/chart.png" alt="Gráfico oscilando">

                <p>Queremos que as pessoas lidem bem com as próprias finanças.</p>
            </div>

            <div>
                <img src="/assets/icons/credit-card.png" alt="Cartão de crédito" width="60" height="60">

                <p>Permitimos sincronizar o cartão para automatizar o cadastro das entradas e saídas de dinheiro.</p>
            </div>

            <div>
                <img src="/assets/icons/file.png" alt="Arquivo de informações" width="60" height="60">

                <p>Oferecemos informações simples para agilizar a sua análise.</p>
            </div>
        </section>

        <section id="metas-finyou">
            <h2>Metas finyou</h2>

            <div id="metas">
                <div>
                    <picture>
                        <source srcset="assets/images/webp/guardando-orcamento.webp" type="image/webp">
                        <img src="/assets/images/guardando-orcamento.jpg" alt="Mulher guardando dinheiro" width="400" height="338">
                    </picture>

                    <h3>Gerencia as suas finanças</h3>

                    <p>Queremos que você conquiste autonomia financeira.</p>
                </div>

                <div>
                    <picture>
                        <source srcset="assets/images/webp/quebrando-cofre-porco.webp" type="image/webp">
                    <img src="/assets/images/quebrando-cofre-porco.jpg" alt="Mulher quebrando cofre porquinho" width="400" height="297">
                </picture>

                    <h3>Alcance suas metas</h3>

                    <p>Queremos que você saiba o que é preciso para alcançar suas metas.</p>
                </div>

                <div>
                    <picture> 
                        <source srcset="assets/images/webp/crianca-guardando.webp" type="image/webp">
                    <img src="/assets/images/crianca-guardando.jpg" alt="Criança guardando dinheiro para comprar doce" width="400" height="393">
                </picture>

                    <h3>Tenha dinheiro para o que quer</h3>

                    <p>Queremos que você tenha dinheiro para o lazer, e não se torne escravo das suas contas.</p>
                </div>

                <div>
                    <picture>
                        <source srcset="assets/images/webp/pensando-comprar.webp" type="image/webp">
                    <img src="/assets/images/pensando-comprar.jpg" alt="Mulher pensando em comprar um produto" width="400" height="344">
                    </picture>

                    <h3>Foque nos seus objetivos</h3>

                    <p>Queremos que você acredite que é possível alcançar seus objetivos.</p>
                </div>
            </div>
        </section>

        <section id="secondary-topics">
            <ul>
                <li>
                    <img src="/assets/icons/check-blue.png" alt="Sinal de confere" width="36" height="36">
                    Gráficos minimalistas apenas com o necessário;
                </li>

                <li>
                    <img src="/assets/icons/check-blue.png" alt="Sinal de confere" width="36" height="36">
                    Acompanhe a sua evolução patrimonial;
                </li>

                <li>
                    <img src="/assets/icons/check-blue.png" alt="Sinal de confere" width="36" height="36">
                    Informações organizadas para ser intuitivo.
                </li>
            </ul>
        </section>

        <section id="cta-sobre">
            <picture>
                <source srcset="assets/images/webp/guardando-cofre-porco.webp" type="image/webp">
                <img src="/assets/images/guardando-cofre-porco.jpg" alt="Garota guardando dinheiro em cofre porquinho" width="400" height="363">
            </picture>

            <div>
                <p>Entre e coloque as suas finanças em dia</p>

                <a href="/cadastro">Participar</a>
            </div>
        </section>
    </main>

    <%- include('../templates/footer.ejs') %>
</body>
</html>