<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="" />
		<meta name="keywords" content="finanças, gestão financeira, ferramentas financeiras, auxílio." />
		<%- include('../templates/head.ejs') %>

		<!-- CSS -->

		<title><%- data.page_name %></title>
	</head>
	<body>
		<%- include('../templates/header.ejs') %>

		<main>
			<!-- Verificar plano -->
			<form action="/criar-portal-assinatura" method="POST">
				<button id="checkout-and-portal-button" type="submit">Conferir plano</button>
			</form>
		</main>

		<%- include('../templates/footer.ejs') %>
	</body>
</html>
