<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="finanças, gestão financeira, ferramentas financeiras, auxílio.">
    <%- include('../templates/head.ejs') %>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/perfil/tags.css">

    <title><%- data.page_name %></title>
</head>
<body>
    <%- include('../templates/header-perfil.ejs') %>

    <main>
        <section id="tags-intro">
            <div id="tag-banner">
                <h1>Gerenciar tags</h1>

                <a href="/criar-tag">Criar nova tag</a>
            </div>

            <div id="tags-container">
                <h2>Suas tags</h2>

                <div id="tags">
                    <div class="tag">
                        <div class="tag-color"></div>

                        <h3>Gastos fixos</h3>

                        <button>
                            <img src="/assets/icons/delete-x.png" alt="Deletar tag">
                        </button>
                    </div>

                    <div class="tag">
                        <div class="tag-color"></div>

                        <h3>Gastos fixos</h3>

                        <button>
                            <img src="/assets/icons/delete-x.png" alt="Deletar tag">
                        </button>
                    </div>

                    <div class="tag">
                        <div class="tag-color"></div>

                        <h3>Gastos fixos</h3>

                        <button>
                            <img src="/assets/icons/delete-x.png" alt="Deletar tag">
                        </button>
                    </div>

                    <div class="tag">
                        <div class="tag-color"></div>

                        <h3>Gastos fixos</h3>

                        <button>
                            <img src="/assets/icons/delete-x.png" alt="Deletar tag">
                        </button>
                    </div>

                    <div class="tag">
                        <div class="tag-color"></div>

                        <h3>Gastos fixos</h3>

                        <button>
                            <img src="/assets/icons/delete-x.png" alt="Deletar tag">
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include('../templates/footer.ejs') %>
</body>
</html>