/* ! PRIMEIRA SEÇÃO */

#configurar-meta-intro.error-intro {
    padding: 80px clamp(30px, 9vw, 50px);
}

#configurar-meta-intro.error-intro h1 {
    margin-bottom: 16px;
    text-align: center;
}

#configurar-meta-intro.error-intro p {
    font-size: 1.1rem;
    text-align: center;
}

#configurar-meta-intro {
    max-width: 600px;
    margin-inline: auto;
    padding: 40px clamp(30px, 9vw, 50px) 0;
}

#configurar-meta-intro h1 {
    margin: 0 8px 16px;
    text-align: center;
}

#configurar-meta-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

#configurar-meta-form label {
    margin: 8px;
}

#configurar-meta-form input {
    height: 48px;
    margin-bottom: 8px;
    padding-inline: 8px;
    border: 2px solid #00000033;
    border-radius: 8px;
}

#configurar-meta-form button[type=button] {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    margin-bottom: 8px;
    padding-inline: 8px;
    border: 2px solid #00000033;
    border-radius: 8px;
    background: white;
    transition: border-radius 350ms ease;
}

#configurar-meta-form button[type=button].ativo {
    border-radius: 8px 8px 0 0;
}

#configurar-meta-form button[type=button] img {
    transition: transform 350ms ease;
}

#configurar-meta-form button[type=button].ativo img {
    transform: rotate(-180deg);
}

#periodo-deposito-dropdown-container {
    position: absolute;
    top: 100%;
    left: -2px;
    width: calc(100% + 4px);
    overflow: hidden;
    pointer-events: none;
}

#periodo-deposito-dropdown {
    display: flex;
    width: 100%;
    flex-direction: column;
    border: 2px solid #00000033;
    border-radius: 0 0 8px 8px;
    background-color: white;
    overflow: hidden;
    pointer-events: all;
    transform: translateY(-100%);
    transform-origin: top;
    transition: transform 350ms ease;
    z-index: 3;
}

#configurar-meta-form button[type=button].ativo #periodo-deposito-dropdown {
    transform: translateY(0);
}

#periodo-deposito-dropdown label {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 8px;
    cursor: pointer;
}

#periodo-deposito-dropdown label.ativo {
    background-color: hsl(0, 0%, 80%) !important;
}

#periodo-deposito-dropdown label:hover {
    background-color: hsl(0, 0%, 95%);
}

#periodo-deposito-dropdown label input {
    display: none;
}

#configurar-meta-form .input-container {
    position: relative;
    margin-bottom: 8px;
    border: 2px solid #00000033;
    border-radius: 8px;
    background-color: white;
}

#configurar-meta-form .input-container input {
    width: 100%;
    margin: 0;
    padding-left: 45px;
    border: none;
    background: none;
}

#configurar-meta-form .input-container span {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    cursor: pointer;
}

#configurar-meta-form input.error,
#configurar-meta-form .input-container.error,
#configurar-meta-form button.error {
    border-color: #ff000033;
}

#configurar-meta-form span.error-message {
    margin-inline: 8px;
    color: red;
    font-size: .8rem;
}

#configurar-meta-form p {
    margin-top: 8px;
    font-size: .9rem;
}

#configurar-meta-form button[type=submit] {
    height: 64px;
    margin-top: 24px;
    border-radius: 8px;
    background: var(--main-gradient);
    color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}