/* ! PRIMEIRA SEÇÃO */

#configurar-tag-intro.error-intro {
    padding: 80px clamp(30px, 9vw, 50px);
}

#configurar-tag-intro.error-intro h1 {
    margin-bottom: 16px;
    text-align: center;
}

#configurar-tag-intro.error-intro p {
    font-size: 1.1rem;
    text-align: center;
}

#configurar-tag-intro {
    max-width: 600px;
    margin-inline: auto;
    padding: 40px clamp(30px, 9vw, 50px) 0;
}

#configurar-tag-intro h1 {
    margin: 0 8px 16px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#configurar-tag-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

#configurar-tag-form label {
    margin: 8px;
}

#configurar-tag-form input {
    height: 48px;
    margin-bottom: 8px;
    padding-inline: 8px;
    border: 2px solid #00000033;
    border-radius: 8px;
}

#configurar-tag-form input.error {
    border-color: #ff000033;
}

#configurar-tag-form span.error-message {
    margin-inline: 8px;
    color: red;
    font-size: .8rem;
}

#configurar-tag-form button[type=submit] {
    height: 64px;
    margin-top: 24px;
    border-radius: 8px;
    background: var(--main-gradient);
    color: white;
}