/* ! PRIMEIRA SEÇÃO */

#relatorios-intro {
    padding-top: 40px;
}

#relatorios-intro h1 {
    margin-bottom: 54px;
    padding-inline: clamp(30px, 9vw, 50px);
    text-align: center;
}

#principais-gastos-container {
    padding: 54px clamp(30px, 9vw, 50px);
    background-color: var(--background-darker-color);
}

#principais-gastos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    max-width: 900px;
    min-height: 500px;
    margin-inline: auto;
    padding: 48px clamp(30px, 9vw, 50px);
    border-radius: 24px;
    background: var(--main-gradient);
    color: white;
}

#principais-gastos .coluna-gasto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    height: 400px;
}

#principais-gastos .coluna-gasto .valor {
    font-weight: 700;
}

#principais-gastos .coluna-gasto .grafico {
    height: 50%;
    width: 60px;
    margin-top: auto;
    border-radius: 16px;
    background-color: white;
}

#principais-gastos .coluna-gasto .nome-gasto {
    font-size: .9rem;
}

#principais-gastos .coluna-gasto .imagem-gasto {
    padding: 16px;
    border-radius: 50%;
    background-color: white;
}

/* ! SEGUNDA SEÇÃO */

#relatorios-container {
    padding: 0 clamp(30px, 9vw, 50px) 40px;
}

#relatorios-container h2 {
    margin-bottom: 40px;
    color: var(--text-main-color);
    font-size: 2rem;
    text-align: center;
}

#meses-header {
    display: flex;
    column-gap: 120px;
    row-gap: 24px;
    width: max-content;
    margin-inline: auto;
}

#meses-header h3 {
    color: var(--text-main-color);
    font-size: 1.8rem;
}

#month-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-bottom: 32px;
    padding: 10px 20px;
    border-radius: 8px;
    background: var(--main-gradient);
    color: white;
    cursor: pointer;
}

#relatorios {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
    justify-items: center;
    gap: 40px;
    max-width: 900px;
    margin-inline: auto;
}

#relatorios .relatorio {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    padding: 12px 40px;
    border-radius: 400px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}

#relatorios .relatorio div {

}

#relatorios .relatorio div h4 {
    color: var(--text-dark-color);
}

#relatorios .relatorio div span {
    font-size: .8rem;
    font-weight: 700;
}

#relatorios .relatorio a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--main-color);
}

#relatorios .relatorio a img {
    width: 24px;
}

@media (max-width: 480px) {
    #meses-header {
        flex-direction: column;
        margin-inline: unset;
        margin-right: auto;
    }
}