#perfil-admin-intro {
	padding: 40px clamp(30px, 9vw, 50px) 0;
}

#perfil-admin-intro h1 {
	text-align: center;
	margin-bottom: 32px;
}

#perfil-admin-intro form {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin-inline: auto;
}

#perfil-admin-intro form label {
	margin: 0 0 8px 16px;
	color: #797979;
	font-size: 0.9rem;
}

#perfil-admin-intro form div {
	display: flex;
	align-items: center;
	border: 1px solid #797979;
	border-radius: 1000px;
	background-color: white;
}

#perfil-admin-intro form div:has(:focus) {
	outline: 2px solid black;
}

#perfil-admin-intro form div img {
	margin: 0 8px;
}

#perfil-admin-intro form div input {
	width: 100%;
	height: 40px;
	border: none;
	outline: none;
	border-radius: 1000px;
}

#usuarios {
	display: grid;
	grid-template-columns: repeat(auto-fit, min(100%, 400px));
	justify-content: center;
	gap: 40px;
	margin-bottom: 40px;
	padding: 0 clamp(30px, 9vw, 50px);
}

#usuarios .usuario {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 32px 40px;
	border-radius: 16px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#usuarios .usuario .editar {
	position: absolute;
	top: 32px;
	left: 24px;
}

#usuarios .usuario h2 {
	width: 80%;
	margin-bottom: 8px;
	padding: 4px 0;
	border: 1px solid #7f7f7f;
	border-radius: 500px;
	color: #7f7f7f;
	font-size: 1.1rem;
	text-align: center;
}

#usuarios .usuario h3 {
	margin-bottom: 16px;
	color: #7f7f7f;
	font-size: 0.8rem;
	font-weight: 500;
}

#usuarios .usuario .mostrar-usuario {
	background-color: #548ca1;
	border: none;
	border-radius: 30px;
	padding: 16px;
	color: #ffffff;
	margin: 16px 0px 24px 0px;
}

#usuarios .usuario .botoes-usuario {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

button {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 8px;
	background: none;
}

img {
	margin-right: 2px;
}

#usuarios .usuario .botoes-usuario button {
	display: flex;
	align-items: center;
	background: none;
}
